<!DOCTYPE html>
<html>
<head>
  <title>Kanban</title>

  <link rel="stylesheet" href="/assets/styles/main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.3/dist/vue.min.js"></script>
  <script src="https://unpkg.com/lodash@4.17.4/lodash.js"></script>
  <script>window.each = _.each</script>
  <script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.js"></script>
  <script src="https://unpkg.com/vddl@0.6.0/dist/vddl.js"></script>
</head>
<body>

  <div id="app"></div>

  <script type="module" src="client/index.js"></script>

</body>
</html>