/*===============================
=            Imports            =
===============================*/
@import url("normalize.css");
@import url("canvas.css");
@import url("cards.css");
@import url("inputs.css");
@import url("buttons.css");
@import url("tooltips.css");
@import url("typography.css");

/* Variables */
:root {
	--font-family: 'salesforce-regular';
	--font-family-bold: 'salesforce-bold';
	--font-family-light: 'salesforce-light';
	--white: #ffffff;
	--black: #16325C;
	--border: #D8DDE6;
	--green: #4BC076;
	--btn-primary: #70B3F8;
	--btn-primary-hover: #2B8EE5;
}

* {
	box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  min-height: 100%;
  height: 100%;
  background: #FCFCFC;
  font: 14px var(--font-family);
}

#app {
  height: 100vh;
}

.setup {
  height: 100vh;
}

.vddl-list {
	min-height: 110px;
	width: 100%;
}