html {
  height: 100%;
}
body {
  min-height: 100%;
}

#app {
  height: 100vh;
}

.setup {
  height: 100vh;
}

.slds-nav-vertical__action > span {
  display: block;
}

.board {
  margin-top: 20px;
}

.slds-col {
  width: 100%;
}

.vddl-list {
  min-height: 100px;
  width: 100%;
}

.card-wrapper:not(:last-child) {
  margin-bottom: 10px;
}