<div class="card" :class="{mini: mini}">
  <div class="header_card">
    <img src="assets/icons/pic_holder.svg" class="avatar">
    <span title="[object Object]">{{ data.title }}</span>
    <div><div class="badge" v-if="data.label">{{ data.label }}</div></div>
    <div><time v-if="estimate">{{ estimate }}</time></div>
    <dropdown v-if="!mini" ref="dropdown" :items="dropdownItems" @tooltip-yes="tooltipOnYes"></dropdown>
  </div>
  <p class="subtle" v-if="!mini">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam!</p>
</div>