<header>
  <div class="company_name"><span>Resourceful</span></div>
  <div class="inner_container">
    <div class="searchbar">
      <!-- <img src="assets/icons/search.svg"> -->
      <!-- <span><strong>Project:</strong> &nbsp; Test Project Vapeneesj</span> -->
      <!-- <span>No project has been selected</span> -->
      <span>logged in: {{ $auth.authenticated }}</span>
    </div>

    <div>
        <router-link to="/projects" class="btn with-icon">
          <img src="assets/icons/create_project.svg">
          Create project
        </router-link>
    </div>

    <div class="home"><router-link to="/projects"><img src="assets/icons/home.svg"></router-link></div>

    <div class="user">
      <span>{{ $auth.fullName }}</span>
      <div><img src="assets/icons/pic_holder.svg" alt="Avatar"></div>
    </div>
  </div>
</header>