<header>
  <div class="company_name"><span>Acme inc</span></div>
  <div class="inner_container">
    <div class="searchbar">
      <img src="assets/icons/search.svg">
      <span>Seach for tasks&hellip;</span>
    </div>

    <div>
        <router-link to="/projects" class="btn with-icon">
          <img src="assets/icons/create_project.svg">
          Create project
        </router-link>
    </div>

    <div class="home"><a href="#"><img src="assets/icons/home.svg"></a></div>

    <div class="user">
      <span>Username</span>
      <img src="https://secure.gravatar.com/avatar/ca7f4cddd0331a3956fed75f4ee8ba5d?r=g&d=https://avatar-cdn.atlassian.com/default/40&s=40" alt="">
    </div>
  </div>
</header>