<nav class="slds-nav-vertical" aria-label="Sub page">
  <div class="slds-nav-vertical__section">
    <ul>
      <li class="slds-nav-vertical__item slds-is-active">
        <a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header" aria-current="page">
          <div>
            <svg class="slds-icon slds-icon-text-default slds-icon_x-small slds-m-right_x-small" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/lightning/icons/utility-sprite/svg/symbols.svg#kanban" />
            </svg>
          </div>
          <span>
            Backlog
          </span>
        </a>
      </li>
      <li class="slds-nav-vertical__item">
        <a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header" aria-current="page">
          <div>
            <svg class="slds-icon slds-icon-text-default slds-icon_x-small slds-m-right_x-small" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/lightning/icons/utility-sprite/svg/symbols.svg#dayview" />
            </svg>
          </div>
          <span>
            Milestones
          </span>
        </a>
      </li>
      <li class="slds-nav-vertical__item">
        <a href="javascript:void(0);" class="slds-nav-vertical__action" aria-describedby="entity-header" aria-current="page">
          <div>
            <svg class="slds-icon slds-icon-text-default slds-icon_x-small slds-m-right_x-small" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/lightning/icons/utility-sprite/svg/symbols.svg#settings" />
            </svg>
          </div>
          <span>
            Settings
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>