<div class="canvas">
  <div class="board_top_row">
    <h1>Backlog</h1>
    <div>
      <a href="#" @click="$auth.login()" class="btn secondary with-icon">
        <img src="assets/icons/plus.svg">
        Add task
      </a>
    </div>

    <div>{{ $auth.authenticated }} - {{ $auth.fullName }}</div>
  </div>

  <div class="board">
    <div class="col" v-for="(list, listName) in lists">
      <vddl-list :list="list" :horizontal="false">
        <vddl-draggable class="card-wrapper" v-for="(item, index) in list" :key="item.id"
          :draggable="item"
          :index="index"
          :wrapper="list"
          effect-allowed="move">
          <card :data="item" @remove="removeCard"></card>
        </vddl-draggable>
        <vddl-placeholder class="card dragging" style="opacity: 0.12"></vddl-placeholder>
      </vddl-list>
    </div>
  </div>
</div>