<div class="canvas" v-if="!isBacklog">
  <div class="board_top_row">
    <h1>Backlog</h1>
    <div>
      <a href="#" @click="$auth.login()" class="btn secondary with-icon">
        <img src="assets/icons/plus.svg">
        Add task
      </a>
    </div>
  </div>

  <button @click="isBacklog = !isBacklog">toggle view</button>

  <div class="board">
    <div class="col" v-for="(list, listName, index) in lists">
      <h2>To do</h2>

      <div class="quick-task-wrapper">
        <input type="text" placeholder="Create a quick task" v-model="quickTaskTitles[index]" ref="quickTaskInputs" @keyup.esc="clearQuickTask(index)" @keyup.enter="addQuickTask(index)">
        <img src="assets/icons/cross-round.svg" alt="Clear this field" v-show="quickTaskTitles[index]" @click="clearQuickTask(index)">
      </div>

      <vddl-list :list="list" :horizontal="false">
        <vddl-draggable class="card-wrapper" v-for="(item, index) in list" :key="item.id"
          :draggable="item"
          :index="index"
          :wrapper="list"
          effect-allowed="move">
          <card :data="item" @remove="removeCard"></card>
        </vddl-draggable>
        <vddl-placeholder class="card dragging" style="opacity: 0.12"></vddl-placeholder>
      </vddl-list>
    </div>
  </div>
</div>

<div class="canvas" v-else>
  <div class="board_top_row">
    <h1>Backlog</h1>
    <div>
      <a href="#" @click="$auth.login()" class="btn secondary with-icon">
        <img src="assets/icons/plus.svg">
        Add task
      </a>
    </div>
  </div>

  <button @click="isBacklog = !isBacklog">toggle view</button> <!-- toggle board & backlog view-->

  <div class="board backlog">
    <div><h2>Initial release v1.0</h2> <small class="subtle">Due date: 31-12-2017 &nbsp; | &nbsp; Total estimated time: 1d 9h &nbsp; | &nbsp; 7 tasks </small></div>

    <div class="backlog_task_wrapper">

      <vddl-list :list="backlog" :horizontal="false">
        <vddl-draggable class="card-wrapper" v-for="(item, index) in backlog" :key="item.id"
          :draggable="item"
          :index="index"
          :wrapper="backlog"
          effect-allowed="move">
          <card :data="item" :mini="true" @remove="removeCard"></card>
        </vddl-draggable>
        <vddl-placeholder class="card mini dragging" style="opacity: .12"></vddl-placeholder>
      </vddl-list>
    </div>
  </div>

  <div class="board backlog">
    <div><h2>Backlog</h2> <small class="subtle">0 tasks </small></div>

    <div class="backlog_task_wrapper minimal_cards">
      <div class="empty"><span class="subtle">There are currently no tasks in the backlog, click to create one.</span></div>
    </div>
  </div>
</div>