<div class="setup slds-grid slds-grid_align-center slds-grid_vertical-align-center">
  <div class="setup-container slds-col slds-container_medium slds-text-align_center">
    <!-- <article class="setup-card slds-card">
      <div class="setup-card-body slds-card__body slds-card__body_inner">
        <p>Please click the button to install.</p>
        <button class="slds-button slds-button_brand" @click="install">Button</button>

        <div v-if="error">Something went wrong setting up the database. Do you have write permissions in root folder?</div>
      </div>
      <footer class="slds-card__footer">Card Footer</footer>
    </article> -->
    <div class="slds-box slds-p-around_none">
      <p>Test</p>
    </div>
  </div>
</div>